.App {
  text-align: center;
  margin: auto;
  margin-top: 100px;
  width: 500px;
}

.App-http {
  margin: auto;
  margin-top: 100px;
  width: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  display: flex;
  /* text-decoration: line-through; */
  padding: 10px;
  margin-bottom: 5px;
  width: 100px;
  text-align: left;
  justify-content: space-between;
  background-color: lightblue;

}

.delete-button {
  color: red;
  display: block;
  cursor: pointer;
  text-decoration: none !important;
}

.checked {
  text-decoration: line-through;
}